{% extends 'layouts/base.html.twig' %}

{% block title %}
    PANTEREST - New pin
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <article>
                <h1>Create a Pin</h1>

                {{ include('pins/partials/_form.html.twig') }}
            </article>
        </div>
    </div>
{% endblock %}
