{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} rounded-0" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
