<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">
      <small>
        &copy; {{ 'now' | date('Y') }} &middot;
        Built with <span class="text-danger">&hearts;</span> by <a href="https://www.woder.fr">WODER</a>
      </small>
    </span>
  </div>
</footer>
