@import "~bootstrap";

html,
body{
    @extend .h-100;
}

.alert-error {
    --bs-alert-color: var(--bs-danger-text-emphasis);
    --bs-alert-bg: var(--bs-danger-bg-subtle);
    --bs-alert-border-color: var(--bs-danger-border-subtle);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

#main-container{
    @extend .container;
    @extend .flex-shrink-0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.vich-image {
    .form-check {
        @extend .mt-3;
    }

    img {
        @extend .mb-2;
        @extend .rounded;
        @extend .shadow-sm;
        @extend .img-thumbnail;
    }
}


.pin {
    @extend .bg-white;
    @extend .rounded;
    @extend .shadow-sm;

    .pin-image{
        @extend .rounded-top;
        @extend .overflow-hidden;
        img {
            transition: transform 0.3s ease-out;
            &:hover {
                transform: scale(1.075);
            }
        }
    }

}
